
h1, h2, h3 {
    font-family: 'CaviarDreamsBold';
}
a, p, li, .listeTag ul li a {
    font-family: 'CaviarDreamsRegular';
}
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}
#barre {
    width: 100vw;
    background-color: black;
    z-index: 9;
    position: fixed;
}
.nouveau {
    color: brown;
}
.titre {
    color: crimson;
}
#logo {
    width: 100px;
}
ul li {
    margin-left: 20px;
}
ul {
    list-style-type: none;
    display: flex;
}
.navCategorie {
    margin-right: 20px;
}
.listeTag {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.listeTag ul li a {
    text-transform: capitalize;
}
#projets, .detailprojet, #pagecontact, #pagepresentation {
    padding-top: 105px;
}
.bloc {
    background-color: blue;
    overflow: hidden;
}
.img, .imgcontact {
    position: relative;
    height: calc(100vh - 100px);
    width: 100%;
    object-fit: cover;
}
.bgcontact {
    width: 66.66666%;
}
.textes {
    padding: 20px 0px 20px 0px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4vh;
    z-index: 999;
    width: 33.333333%;
}
h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0px 20px 20px 20px;
}
p {
    font-size: 1em;
}
h2 {
    font-size: 1.2em;
}
p, h2 {
    margin: 0px 20px 0 20px;
}
a {
    text-decoration: none;
}
.facebook, .instagram, .twitter, .linkedin {
    width: 32px;
    height: 32px;
}
.facebook {
    background-image: url("../img/facebook-rouge.png");
}
.instagram{
    background-image: url("../img/instagram-rouge.png");
}
.twitter{
    background-image: url("../img/twitter-rouge.png");
}
.linkedin{
    background-image: url("../img/linkedin-rouge.png");
}
.infoscontact h3, .infoscontact p, a, .textes, h1, #contact, ul li {
    color: white;
}
.infoscontact h3 {
    margin: 40px 0px 0px 20px;
}
.reseaux {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    padding-left: 20px;
}
.reseaux p {
    align-self: center;
}
.footer {
    bottom: 0px;
}
.detailprojet h1,
.detailprojet p,
.detailprojet h2 {
    color: white;
}