
h1{
    font-family: 'MontserratBold';
}
h2{
    font-family: 'MontserratMedium';
}
h3, a, p, li, .listeTag ul li a {
    font-family: 'MontserratLight';
}
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}
#barre {
    width: 100vw;
    background-color: black;
    z-index: 9;
    position: fixed;
}
#logo {
    width: 100px;
}
#barre ul li {
    margin-left: 20px;
}
#barre ul {
    list-style-type: none;
    display: flex;
}
.navCategorie {
    margin-right: 20px;
}
.listeTag {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.listeTag ul li a {
    text-transform: capitalize;
}
#projets, #detail_projet, #pagecontact, #pagepresentation {
    padding-top: 98px;
}
.bloc {
    overflow: hidden;
}
.img, .imgcontact {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bgcontact {
    width: 66.66666%;
}
.textes {
    padding: 20px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: rgba(0, 0, 0, 0.2);*/
    position: absolute;
    bottom: 4vh;
    z-index: 999;
    width: 33.333333%;
}

/* hover home */
.textes:hover {
    padding: 40px 0px 40px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 4vh;
    z-index: 999;
    width: 33.333333%;
}


h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0px 20px 20px 20px;
}
p {
    font-size: 1em;
}
h2 {
    font-size: 1.2em;
}
p, h2 {
    margin: 0px 20px 0 20px;
}
a {
    text-decoration: none;
}

/* CSS Contact*/
.facebook, .instagram, .twitter, .linkedin {
    width: 32px;
    height: 32px;
}
.facebook {
    background-image: url("../img/pictos/facebook-rouge.png");
}
.instagram{
    background-image: url("../img/pictos/instagram-rouge.png");
}
.twitter{
    background-image: url("../img/pictos/twitter-rouge.png");
}
.linkedin{
    background-image: url("../img/pictos/linkedin-rouge.png");
}
.facebook:hover {
    background-image: url("../img/pictos/facebook-blanc.png");
}
.instagram:hover {
    background-image: url("../img/pictos/instagram-blanc.png");
}
.twitter:hover{
    background-image: url("../img/pictos/twitter-blanc.png");
}
.linkedin:hover{
    background-image: url("../img/pictos/linkedin-blanc.png");
}
.infoscontact h3, .infoscontact p, a, .textes, h1, #contact, ul li {
    color: white;
}
.infoscontact h3 {
    margin: 40px 0px 0px 20px;
}
.reseaux {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    padding-left: 20px;
}
.reseaux p {
    align-self: center;
}

.footer a:hover, .reseaux p a:hover, .mail a:hover, .job a:hover{
    color: #D94158;
}

/* CSS Detail projet */

#detail_projet h1,
#detail_projet p,
#detail_projet h2 {
    padding-top: 15px;
    color: white;
}
#detail_projet h1{
    color: #D94158;
}
#detail_projet p{
    font-size: 0.9em;
}
.listeEtiquette ul{
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}
.listeEtiquette ul li {
    background-color:#D94158;
    border-radius: 32px;
    padding: 10px 20px 10px 20px;
    color: black;
    font-family: "MontserratSemiBold";
    justify-self: space-evenly;
    align-self: center;

}



