<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <title>Annabelle Grisard Portfolio</title>

</head>
<style>
    @font-face {
        font-family: 'Caviar Dreams';
        src: url('fonts/CaviarDreams.ttf');
    }

    @font-face {
        font-family: 'Caviar Dreams';
        font-style: italic;
        src: url('fonts/CaviarDreams_Italic.ttf');
    }

    @font-face {
        font-family: 'Caviar Dreams';
        font-weight: bold;
        src: url('fonts/Caviar_Dreams_Bold.ttf');
    }

    .detailprojet h1,
    .detailprojet p,
    .detailprojet h2 {
        color: white;
    }
</style>

<body>
    <div id="app">
        <div id="barre">
            <div class="listeTag">
                <a href="index.html"><img id="logo" src="img/logo-blanc.png"></a>
                <ul class="navCategorie">
                    <li id="présentation"><a href="#" @click="display = 'presentation'">Présentation</a></li>
                    <li v-for="tag in afficherTags()"><a href="#" v-on:click="filteredProjet(tag)">{{tag}}</a></li>
                    <li id="contact"><a href="#" @click="display = 'contact'">Contact</a></li>
                </ul>
            </div>
        </div>

        <div v-if="display === 'liste_projets'" id="projets"
            :style="'display: grid;grid-template-columns: repeat(' + nbrproj + ', 33.333333%);grid-template-rows: calc(100vh - 100px);'">
            <div class="bloc" v-for="tab in projets" :id="tab.id">
                <a href="#" @click="change_display(tab.id)">
                    <img class="img" :src="tab.image">
                    <div class="textes">
                        <h1>{{ tab.titre }}</h1>
                        <p>{{ tab.descriptif }}</p><br>
                        <h2>{{ tab.nomprojet }}</h2>
                    </div>
                </a>
            </div>
        </div>

        <div v-if="display === 'detail_projet'" id="detail_projet"
            :style="'display: grid;grid-template-columns: repeat(' + nbrproj + ', 33.333333%);grid-template-rows: calc(100vh - 100px);'">
            <div class="detailprojet">
                <h1>{{ tabs[projet_selectionne].titre }}</h1>
                <p>{{ tabs[projet_selectionne].descriptif }}</p><br>
                <h2>{{ tabs[projet_selectionne].nomprojet }}</h2>
            </div>
        </div>

        <div v-if="display === 'presentation'" id="pagepresentation">
            <div class="bio">
                <h1>Annabelle grisard</h1>
            </div>
        </div>
        <div v-if="display === 'contact'" id="pagecontact" :style="'display: grid;grid-template-columns: 66.666666% auto'">
            <img class="imgcontact" src="img/image-contact.jpg">
            <div class="infoscontact">
                <h1>Me contacter</h1>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                display: 'liste_projets',
                projet_selectionne: 0,
                nbrproj: 0,
                categorie: '',
                projets: [],
                tabs: [
                    {
                        id: 1,
                        titre: "Refonte d'une identité graphique",
                        nomprojet: "Ornbiomedical",
                        image: "img/ornbiomedical2.jpg",
                        descriptif: "Projet pour un laboratoire de biologie médical, du logo jusqu'à l'application interne",
                        tags: ['Charte Graphique', 'Webdesign']
                    },
                    {
                        id: 2,
                        titre: "Création d'une identité graphique",
                        nomprojet: "Jardin des Plantes",
                        image: "img/jardindesplantes.jpg",
                        descriptif: "Création d'un logo d'une communication globale pour un jardin des plantes Nantais",
                        tags: ['Charte graphique', 'Webdesign']
                    },
                    {
                        id: 3,
                        titre: "Réalisation d'un site internet",
                        nomprojet: "AMP49",
                        image: "img/amp.jpg",
                        descriptif: "Création du site internet pour Anjou Maquettes Prototypes, entreprise angevine",
                        tags: ['Webdesign', 'Développement']
                    },
                    {
                        id: 4,
                        titre: "Site internet onepage promotionel",
                        nomprojet: "Fidelio Philips",
                        image: "img/philips.jpg",
                        descriptif: "Site internet promotionel onepage pour une nouvelle gamme de casque chez Philips",
                        tags: ['Webdesign', 'Développement']
                    },
                    {
                        id: 5,
                        titre: "Réalisation de maquette pour un site responsive",
                        nomprojet: "Civel",
                        image: "img/civel.jpg",
                        descriptif: "Maquette de site internet de showroom de mobilier haut de gamme",
                        tags: ['Webdesign']
                    }
                ]
            },
            methods: {

                change_display: function (id) {
                    this.display = 'detail_projet';
                    this.projet_selectionne = id;
                    console.log(this.display);
                },

                afficherTags: function () {
                    var listeTags = [];
                    listeTags = this.tabs.map(t => t.tags)
                    listeTags = listeTags.flat(2);
                    listeTags = listeTags.map(t => t.toLowerCase());
                    listeTags = [...new Set(listeTags)];
                    console.log(listeTags);
                    return listeTags;
                },

                nbrProjets: function () {
                    this.nbrproj = this.tabs.length;
                },


                filteredProjet: function (tag) {
                    this.display = 'liste_projets';
                    this.projets = this.tabs;
                    var categorie = tag;


                    if (!categorie) {
                        return this.projets;
                    }
                    console.log(this.projets);

                    this.projets = this.projets.filter(function (item) {
                        listeTags = item.tags.map(t => t.toLowerCase());
                        if (listeTags.indexOf(categorie) !== -1) {
                            console.log(item);
                            return item;
                        }
                    })
                    console.log(this.projets);
                    return this.projets;
                }

            },
            computed: {

            },
            mounted() {
                this.nbrProjets();
                console.log(this.nbrproj);
                this.filteredProjet();
            }
        })
    </script>
</body>

</html>