<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Annabelle Grisard Portfolio</title>

</head>
<style>
    @font-face {
        font-family: 'MontserratExtraLight';
        font-weight: 300;
        src: url('fonts/Montserrat-ExtraLight.ttf');
    }

    @font-face {
        font-family: 'MontserratLight';
        font-weight: 400;
        src: url('fonts/Montserrat-Light.ttf');
    }

    @font-face {
        font-family: 'MontserratRegular';
        font-weight: 500;
        src: url('fonts/Montserrat-Regular.ttf');
    }

    @font-face {
        font-family: 'MontserratMedium';
        font-weight: 600;
        src: url('fonts/Montserrat-Medium.ttf');
    }

    @font-face {
        font-family: 'MontserratSemiBold';
        font-weight: 700;
        src: url('fonts/Montserrat-SemiBold.ttf');
    }

    @font-face {
        font-family: 'MontserratBold';
        font-weight: bold;
        src: url('fonts/Montserrat-Bold.ttf');
    }

    .navCategorie>* {
        display: none;
    }

    @media screen and (min-width: 750px) {
        .navCategorie>* {
            display: block;
        }

        .navCategorieBurger {
            display: none;
        }

        .burger {
            display: none;
        }
    }

    /* MENU NAV */
    @import url('https://fonts.googleapis.com/css?family=Lato');

    .burger {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        color: inherit;
        cursor: pointer;
        font-family: 'Material Icons';
        font-size: 30px;
        line-height: 50px;
        margin: 0;
        outline: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 0;
        right: 10px;
        width: 50px;
        color: white;
        top: 25px;
    }

    .burger:before {
        content: 'menu';
    }

    .burger:checked:before {
        content: 'close';
    }
</style>

<body>
    <div id="app">
        <div id="barre">
            <div class="listeTag">
                <a href="index.html"><img id="logo" src="img/logo-blanc.png"></a>
                <ul class="navCategorie">
                    <li id="présentation"><a href="#" @click="display = 'presentation'">Présentation</a></li>
                    <li v-for="tag in afficherTags()"><a href="#" v-on:click="filteredProjet(tag)">{{tag}}</a></li>
                    <li id="contact"><a href="#" @click="display = 'contact'">Contact</a></li>
                </ul>
                <input class="burger" type="checkbox" v-model="displayburger">
                <ul v-if="displayburger" class="navCategorieBurger">
                    <li id="présentation"><a href="#" @click="display = 'presentation'">Présentation</a></li>
                    <li v-for="tag in afficherTags()"><a href="#" v-on:click="filteredProjet(tag)">{{tag}}</a></li>
                    <li id="contact"><a href="#" @click="display = 'contact'">Contact</a></li>
                </ul>
            </div>
        </div>

        <div v-if="display === 'liste_projets'" id="projets"
            :style="'display: grid;grid-template-columns: repeat(' + nbrproj + ', 33.333333%);grid-template-rows: calc(100vh - 100px);'">
            <div class="bloc" v-for="(tab, id) in projets" :id="id">
                <a href="#" @click="change_display(id)">
                    <img class="img" :src="tab.imageUne">
                    <div class="textes">
                        <h1>{{ tab.projet }}</h1>
                        <p>{{ tab.descriptifUne }}</p><br>
                        <h2>{{ tab.client }}</h2>
                    </div>
                </a>
            </div>
        </div>

        <div v-if="display === 'detail_projet'" id="detail_projet"
            :style="'display: grid;grid-template-columns: repeat(4 , 33.333333%) ;grid-template-rows: calc(100vh - 100px);'">
            <div class="img">
                <img class="img" :src="tabs[projet_selectionne].imageUne">
            </div>
            <div class="ligne2" :style="'display: grid;grid-template-rows: auto auto;'">
                <div class="textedetail">
                    <h1>{{ tabs[projet_selectionne].projet }}</h1>
                    <h2>Client : {{ tabs[projet_selectionne].client }}</h2>
                    <p>{{ tabs[projet_selectionne].descriptif1 }}</p><br>
                </div>
                <img class="img" :src="tabs[projet_selectionne].visuel1">
            </div>
            <div class="ligne3" :style="'display: grid;grid-template-rows: 80% 20%;'">
                <img class="img" :src="tabs[projet_selectionne].visuel2">
                <div class="listeEtiquette">
                    <ul>
                        <li v-for="etiquette in afficherEtiquette()">{{etiquette}}</li>
                    </ul>
                </div>
            </div>
            <div class="ligne4" :style="'display: grid;grid-template-rows: repeat(2, 50%);'">
                <div class="expication">
                    <p>{{ tabs[projet_selectionne].descriptif2 }}</p><br>
                </div>
                <img class="img" :src="tabs[projet_selectionne].visuel3">
            </div>
        </div>

        <div v-if="display === 'presentation'" id="pagepresentation"
            :style="'display: grid;grid-template-columns: 33.3333% auto; grid-template-rows: calc(100vh - 100px);'">
            <img class="img" src="img/image-contact.jpg">
            <div class="bio">
                <h1>Mon parcours</h1>
            </div>
        </div>
        <div v-if="display === 'contact'" id="pagecontact"
            :style="'display: grid;grid-template-columns: 66.666666% auto; grid-template-rows: calc(100vh - 100px);'">
            <img class="imgcontact" src="img/image-contact.jpg">
            <div class="infoscontact" :style="'display: grid;grid-template-rows: auto 50px'">
                <div class="row1">
                    <h1>Me contacter</h1>
                    <div class="mail">
                        <h3>Email</h3>
                        <p><a href="mailto:grisard.annabelle@gmail.com">grisard.annabelle[@]gmail.com</a></p>
                    </div>
                    <div class="job">
                        <h3>Jobs</h3>
                        <p><a href="mailto:jobsanna@gmail.com">jobsanna[@]gmail.com</a></p>
                    </div>
                    <h3>Suivez-moi</h3>
                    <div class="reseaux">
                        <a href="#" class="facebook"></a>
                        <p><a href="#" target="_blank">@annabellegrisard</a></p>
                    </div>
                    <div class="reseaux">
                        <a href="#" class="instagram"></a>
                        <p><a href="#" target="_blank">@nana_gris / @nana_gribouille</a></p>
                    </div>
                    <div class="reseaux">
                        <a href="#" class="linkedin"></a>
                        <p><a href="#" target="_blank">Annabelle Grisard</a></p>
                    </div>
                    <div class="reseaux">
                        <a href="#" class="twitter"></a>
                        <p><a href="#" target="_blank">@Nana_gsd</a></p>
                    </div>
                </div>
                <div class="footer">
                    <p>Copyright Annabelle Grisard 2020</p>
                    <p><a href="#">Mentions légales</a></p>
                </div>
            </div>


        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                display: 'liste_projets',
                projet_selectionne: 0,
                nbrproj: 0,
                categorie: '',
                projets: [],
                displayburger: false,
                tabs: [
                    {
                        id: 1,
                        projet: "Création d'un site internet sur mesure DRUPAL",
                        client: "BHF Elevage",
                        imageUne: "img/bhf/bhf-accueil.png",
                        visuel1: "img/bhf/ref-site-bhf-1.jpg",
                        visuel2: "img/bhf/ref-site-bhf-2.jpg",
                        visuel3: "img/bhf/ref-site-bhf-3.jpg",
                        descriptifUne: "Projet pour un laboratoire de biologie médical, du logo jusqu'à l'application interne",
                        descriptif1: "Spécialiste en système de ventilation de chauffage pour bâtiments d'élevage, Pierre Triballier a confié à l'équipe de blue2i la création de son site internet de A à Z. Loin de la récupération de template tout fait gratuit ou payant, notre force réside dans l'écoute, l'analyse, afin de proposer à notre client un site internet sur mesure correspondant au plus près à ses besoins.",
                        descriptif2: "Un site internet pour répondre aux besoins de BHF Elevage : Rassurer ses clients sur son expertise et savoir-faire, apporter une aide aux installateurs par le biais de vidéos accessibles par thématiques, informer ses clients et partenaires de ses actions terrains en alimentant régulièrement une rubrique actualité, disposer d'un site internet facile à mettre à jour sans connaissance technique et graphique particulière",
                        tags: ['Webdesign'],
                        etiquettes: ['photoshop', 'illustrator', 'industrie']
                    },
                    {
                        id: 2,
                        projet: "Création d'une identité graphique",
                        client: "Jardin des Plantes",
                        imageUne: "img/jardindesplantes.jpg",
                        descriptifUne: "Création d'un logo d'une communication globale pour un jardin des plantes Nantais",
                        tags: ['Charte graphique', 'Webdesign'],
                        etiquettes: ['photoshop', 'illustrator', 'industrie']
                    },
                    {
                        id: 3,
                        projet: "Réalisation d'un site internet",
                        client: "AMP49",
                        imageUne: "img/amp.jpg",
                        descriptifUne: "Création du site internet pour Anjou Maquettes Prototypes, entreprise angevine",
                        tags: ['Webdesign', 'Développement'],
                        etiquettes: ['photoshop', 'illustrator', 'industrie']
                    },
                    {
                        id: 4,
                        projet: "Site internet onepage promotionel",
                        client: "Fidelio Philips",
                        imageUne: "img/philips.jpg",
                        descriptifUne: "Site internet promotionel onepage pour une nouvelle gamme de casque chez Philips",
                        tags: ['Webdesign', 'Développement'],
                        etiquettes: ['photoshop', 'illustrator', 'industrie']
                    },
                    {
                        id: 5,
                        projet: "Réalisation de maquette pour un site responsive",
                        client: "Civel",
                        imageUne: "img/civel.jpg",
                        descriptifUne: "Maquette de site internet de showroom de mobilier haut de gamme",
                        tags: ['Webdesign'],
                        etiquettes: ['photoshop', 'illustrator', 'industrie']
                    }
                ]
            },
            methods: {


                change_display: function (id) {
                    this.display = 'detail_projet';
                    this.projet_selectionne = id;
                    console.log(this.display);
                },

                afficherTags: function () {
                    var listeTags = [];
                    listeTags = this.tabs.map(t => t.tags)
                    listeTags = listeTags.flat(2);
                    listeTags = listeTags.map(t => t.toLowerCase());
                    listeTags = [...new Set(listeTags)];
                    console.log(listeTags);
                    return listeTags;
                },
                afficherEtiquette: function () {
                    var listeEtiquette = [];
                    listeEtiquette = this.tabs[this.projet_selectionne].etiquettes;
                    listeEtiquette = listeEtiquette.flat(2);
                    listeEtiquette = listeEtiquette.map(t => t.toLowerCase());
                    listeEtiquette = [...new Set(listeEtiquette)];
                    console.log(listeEtiquette);
                    return listeEtiquette;
                },

                nbrProjets: function () {
                    this.nbrproj = this.tabs.length;
                },


                filteredProjet: function (tag) {
                    this.display = 'liste_projets';
                    this.projets = this.tabs;
                    var categorie = tag;


                    if (!categorie) {
                        return this.projets;
                    }
                    console.log(this.projets);

                    this.projets = this.projets.filter(function (item) {
                        listeTags = item.tags.map(t => t.toLowerCase());
                        if (listeTags.indexOf(categorie) !== -1) {
                            console.log(item);
                            return item;
                        }
                    })
                    console.log(this.projets);
                    return this.projets;
                }

            },
            computed: {

            },
            mounted() {
                this.nbrProjets();
                console.log(this.nbrproj);
                this.filteredProjet();
            }
        })
    </script>

</body>

</html>